<div class="columns">
    <!-- left column -->
    <div class="column">
        <h1 id="index" class="is-size-3">
Spark is a powerful modular framework that makes creating Discord bots easy
<p></p>
</h1></div>
<!-- left column end -->
<!-- right column -->
<div class="column">
    <pre id="install-npm">npm install sparkbots@0.0.6</pre>

<div class="columns is-4">
        <div class="column">
            <a href="https://www.npmjs.com/package/sparkbots?activeTab=versions" id="column-left-button" class="button is-warning is-large">Get Started</a>
        </div>
        <div class="column">
            <a href="/0.0.6/documentation/intro" id="column-right-button" class="button is-warning is-large">View Documentation</a></div>

    </div></div>
<!-- right column end -->
</div>
